<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (statisticaOrdine(); as statisticaOrdineRef) {
      <div>
        <h2 data-cy="statisticaOrdineDetailsHeading">
          <span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.detail.title">Statistica Ordine</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.ordineId">Ordine Id</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.ordineId }}</span>
          </dd>
          <dt><span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.importoTotale">Importo Totale</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.importoTotale }}</span>
          </dd>
          <dt><span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.statoOrdine">Stato Ordine</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.statoOrdine }}</span>
          </dd>
          <dt><span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.microservizio">Microservizio</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.microservizio }}</span>
          </dd>
          <dt><span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.dataRegistrazione">Data Registrazione</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.dataRegistrazione | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="apiGatewayApp.msadminStatisticaOrdine.note">Note</span></dt>
          <dd>
            <span>{{ statisticaOrdineRef.note }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/statistica-ordine', statisticaOrdineRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
